body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: white;
    font-size: 16px;
    font-weight: normal;
    color: #26272d;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

main {
    margin-bottom: 150px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* *{ border:1px solid red; box-sizing:border-box; } */

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
}

/* BUR */

.bur-menu {
    display: none;
    transition: 3s linear;
}

.bur-menu-links {
    transition: 3s linear;
}

/* NAV */

.nav {
    position: relative;
    z-index: 5;
    transition: .3s;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: #26272d;
    margin: 10px 0px;
    height: 70px;
    max-width: 1170px;
    margin: auto;
}

.nav.fixed {
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 1px 15px rgba(27, 28, 30, 0.1);
    transition: .3s;
    width: 100%;
}

.nav-links-1>ul>li, .nav-links-2>ul>li, .nav-links-2>ul>a>li, .nav-logo, .nav-links-2>ul>a {
    list-style-type: none;
    transition: 0.2s linear;
}

.nav-links-1>ul>li>a, .nav-links-2>ul>li>a, .nav-links-2>ul>a, .protect-block-btns>a {
    text-decoration: none;
    color: unset;
}

.nav-links-1>ul, .nav-links-2>ul, .nav-links-2>ul>.nav-app-btn {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
}

.nav-links-1>ul>li:first-child, .nav-links-2>ul>li:first-child {
    margin-left: 0px;
}

.nav-links-1>ul>li:last-child, .nav-links-2>ul>li:last-child {
    margin-right: 0px;
}

.nav-links-1>ul>li, .nav-links-2>ul>li {
    margin: 0px 15px;
}

.nav-links-2>ul>a>li>img {
    margin-right: 10px;
}

.nav-links-2>ul>li:nth-child(1) {
    color: rgba(27, 28, 30, 0.4);
}

.nav-links-2>ul {
    align-items: center;
}

.nav-links-2>ul>a {
    display: flex;
    background: #267df4;
    color: white;
    padding: 6px 15px!important;
    border-radius: 21px;
}

.nav-links-1>ul>li:nth-child(1n+2):hover, .nav-logo:hover, .nav-links-2>ul>li:hover, .nav-links-2>ul>a:hover {
    transform: translate(0px, -3px);
    opacity: 0.5;
}

/* MAIN */

.main-content.fixmain {
    margin-top: 70px;
}

.main-content {
    position: relative;
    top: -70px;
    width: 100%;
    min-height: 1070px;
    height: 100%;
    overflow: hidden;
    background: url(images/banner_background.jpg) bottom/cover no-repeat;
    align-items: center;
    text-align: center;
}

.main-text {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-text-large {
    font-family: 'Varela Round', sans-serif;
    font-size: 62px;
    margin-bottom: 40px;
}

.main-text-small {
    font-size: 20px;
    font-weight: 300;
    color: #8c8f94;
    max-width: 750px;
    line-height: 1.5;
}

.main-btn {
    margin: 65px 0px;
}

.main-btn-link {
    text-decoration: none;
}

.main-btn-inner {
    display: flex;
    border: 1px solid rgb(38, 39, 45, 0.1);
    border-radius: 25px;
    align-items: center;
    padding: 10px 35px;
    transition: 0.3s linear;
    color: black;
}

.main-corn {
    border: 7px solid transparent;
    border-left: 11px solid black;
    transition: 0.3s linear;
}

.main-btn-inner:hover {
    background: black;
    color: white;
    transform: translate(0px, -5px);
}

.main-btn-inner:hover .main-corn {
    border-left: 11px solid white;
}

.main-img {
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: -320px;
}

.main-img-inner {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.55));
}

/* BEN */

.ben-block-benefits {
    display: flex;
    justify-content: space-around;
}

.ben-block-benefits-cart {
    flex: 1;
    padding: 0px 20px;
}

.ben-block-benefits-cart-img>img {
    margin-bottom: 20px;
}

.ben-block-benefits-cart-header {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
}

.ben-block-benefits-cart-text {
    margin-bottom: 40px;
    font-size: 18px;
    color: #8c8f94;
    font-weight: normal;
    line-height: 1.5;
}

/* BREAKLINE */

.breakline-inner {
    min-width: 100%;
    height: 1px;
    margin: 10px 0px;
    background: #f4f4f4;
    margin-top: 45px;
}

/* PROTECT-BLOCK */

.protect-block-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 75px 0px;
}

.protect-block-img>img {
    width: 100%;
    z-index: -10;
}

.protect-block-content {
    flex: 1;
    margin: auto;
    width: 100%;
}

.protect-block-content-inner {
    margin-left: -400px;
    padding: 0px 30px;
}

.protect-block-img {
    flex: 1;
    position: relative;
    width: 100%;
    left: -400px;
}

.protect-block-header {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 70px;
}

.protect-block-text {
    margin-bottom: 70px;
    color: #8c8f94;
}

.protect-block-btns {
    display: flex;
    flex-direction: row;
}

.protect-block-btn1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #267df4;
    border-radius: 25px;
    margin-right: 10px;
    width: 100%;
    min-width: 178px;
    max-width: 250px;
    height: 50px;
    align-items: center;
    padding: 0px 25px;
    transition: .2s linear;
}

.protect-block-btn1-text {
    color: white;
}

.protect-block-btn2 {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-left: 10px;
    width: 100%;
    min-width: 133px;
    max-width: 170px;
    height: 50px;
    padding: 0px 20px;
    transition: .2s linear;
}

.protect-block-btn2-text {
    margin: auto;
}

.protect-block-btn1:hover, .protect-block-btn2:hover {
    transform: translate(0px, -3px);
    transition: .2s linear;
    opacity: .5;
}

/* MAP-BLOCK */
.map-block {
    overflow: hidden;
}

.map-block-inner {
    display: flex;
    flex-direction: row;
}

.map-block-content {
    flex: 1;
    padding: 0px 30px;
    margin: 30px 0px;
}

.map-block-img {
    position: relative;
    flex: 1;
    max-width: 500px;
}

.map-block-img>img {
    position: relative;
}

.map-block-header {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 70px;
}

.map-block-text {
    color: #8c8f94;
}

.map-block-partners-text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin: 30px 0px 15px 0px;
}

/* BEAUTIFUL-INTERFACE-BLOCK */
.bib {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f8;
    padding: 0px 0px 50px 0px;
}
.bib-imgs {
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.35));
}
.bib-imgs>img {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.bib-imgs>img:nth-child(4) {
    padding: 0px 10px 0px 6px;
}

.bib>h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin: 100px 0px 50px;
    text-align: center;
}

.bib-breakline {
    width: 65px;
    height: 3px;
    background: #267df4;
    margin-bottom: 30px;
}

.bib>h4, .form>h4, .bib-app-btn-text {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(58, 61, 75, 0.502);
}

.form {
    align-items: center;
    text-align: center;
}

.form-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}
.form-input>input {
    padding: 10px 30px;
    border: none;
    background: none;
    margin: 0;
    outline: 0;
    vertical-align: middle;
}

.form-input>input:nth-child(1) {
    max-width: 500px;
    width: 100%;
    padding-right: 0px;
}

.form-input>input:nth-child(2) {
    color: white;
    border-radius: 50px;
    margin: 3px;
    cursor: pointer;
    max-width: 130px;
    width: 100%;
    background: #6fc754;
    transition: .2s linear;
}

.form-input>input:nth-child(2):hover, .bib-app-btn-img:hover {
    transform: translate(0px, -3px);
    opacity: .5;
}

.form-input>img {
    width: 80px;
    height: 30px;
    background: #6fc754;
}

.bib-app-btn {
    text-align: center;
}

.bib-app-btn>a {
    cursor: auto;
}

.bib-app-btn-text {
    margin: 30px 0px 10px 0px;
    
}

.bib-app-btn-img {
    border-radius: 50px;
    cursor: pointer;
    transition: .2s linear;
}



/* MEDIA */

@media (max-width: 750px) {
    body.fix {
        position: fixed;
        overflow: hidden;
    }
    .bur-menu.show {
        display: unset;
        background: white;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .bur-menu-links {
        margin-top: 70px;
        margin-left: 70px;
        padding-left: 0px;
    }
    .bur-menu-links>li {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .bur-menu-links>li>a {
        text-decoration: none;
        color: black;
        margin-top: 30px;
        font-size: 25px;
    }
    /* NAV */
    .main-content.fixmain {
        margin-top: 40px;
    }
    .nav-inner {
        height: 40px;
    }
    .nav-links-1>ul>:nth-child(n+2), .nav-links-2 {
        display: none;
    }
    .nav-links-1 {
        position: relative;
        z-index: 50;
        margin-left: 20px;
    }
    .nav-logo {
        position: absolute;
        text-align: center;
        width: 100%;
    }
    /* MAIN */
    .main-content {
        height: 100%;
        min-height: 720px;
    }
    .main-text {
        margin-top: 80px;
        padding: 0px 30px 400px;
    }
    .main-img {
        position: absolute;
        bottom: -330px;
    }
    /* BENEFITS */
    .ben-block-benefits {
        flex-direction: column;
    }
    .ben-block-benefits-cart {
        width: 100%;
    }
    /* PROTECT-BLOCK */
    .breakline-inner {
        margin: 0px 0px 40px 0px;
    }
    .protect-block-inner {
        flex-direction: column;
        overflow: hidden;
        margin: 0px 0px 20px 0px;
    }
    .protect-block-content-inner {
        margin: 0px;
    }
    .protect-block-img {
        margin: 0 auto;
        z-index: 1;
        max-width: 400px;
        left: 0px;
    }
    .protect-block-header {
        position: relative;
        margin: 0px 0px;
    }
    .protect-block-text {
        margin-bottom: 20px;
        margin: 20px 0px 30px 0px;
    }
    .protect-block-btns {
        justify-content: center;
        justify-content: space-around;
        margin: 0px 0px;
        flex-wrap: wrap;
    }
    .protect-block-btn1 {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 0px;
        max-width: 100%;
    }
    .protect-block-btn1-text {
        width: 100%;
        text-align: center;
    }
    .protect-block-btn2-text {
        width: 100%;
        text-align: center;
    }
    .protect-block-btn2 {
        width: 30%;
        margin: 0px;
        max-width: 35%;
    }
    .protect-block-btn2-text {
        margin: 0;
    }
    /* MAP-BLOCK */
    .map-block-inner {
        flex-direction: column-reverse;
        margin: 0px;
    }
    .map-block-content {
        position: relative;
        z-index: 1;
    }
    .map-block-img {
        margin: 0px 0px -150px 0px;
    }
    .map-block-img>img {
        right: 0px;
    }
    .map-block-partners-imgs {
        display: flex;
        justify-content: center;
    }
    /* BEAUTIFUL-INTERFACE-BLOCK (.bib) */
    .bib-imgs {
        width: 100%;
    }
    .bib-imgs>img {
        width: 80%;
    }
    .form {
        padding: 0px 30px;
    }
}
