body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    background: white;
    color: #26272d;
}

* {
    box-sizing: border-box;
}

.wraper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.fix_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fix_a {
    color: unset;
    text-decoration: none;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 62px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
}

h3 {
    font-weight: 500;
    font-size: 26px;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #8c8f94;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #8c8f94;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.body.body_fix {
    overflow: hidden;
}

.nav_link, .nav_btn, .main_btn_inner, .main_corn, .protect_block_btn1, .protect_block_btn2, .form_input>input:nth-child(2), .app_screen_btn_img {
    transition: 0.3s linear;
}

.nav_link:hover, .nav_btn:hover, .protect_block_btn1:hover, .protect_block_btn2:hover, .form_input>input:nth-child(2):hover, .app_screen_btn_img:hover {
    transform: translate(0px, -3px);
    transition: .2s linear;
    opacity: .5;
}

/* Nav */

.header_fixed {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.nav {
    padding: 10px 0px;
}

.nav_inner_items {
    display: flex;
    height: 40px;
    color: #26272d;
}

.nav_left, .nav_right {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 290px;
}

.nav_item {
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav_logo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2px;
}

.nav_btn {
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    background: #267df4;
    color: white;
}

.nav_btn_icon {
    width: 16px;
    height: 20px;
    margin: 0px 10px 2px 25px;
}

/* Burger */

.burger {
    display: none;
    cursor: pointer;
}

.burger>span {
    display: block;
    background: #26272d;
    width: 25px;
    height: 2.5px;
    margin: 2.5px 0px 2.5px 10px;
    transition: .2s;
}

.burger.close>span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 5.25px;
    transition: .2s;
}

.burger.close>span:nth-child(2) {
    opacity: 0;
    transition: .0s;
}

.burger.close>span:last-child {
    transform: rotate(45deg);
    position: relative;
    top: -5.25px;
    transition: .2s;
}

.burger_page {
    display: none;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
}

.burger_page.burger_page_open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: white;
}

.burger_page_inner {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
}

.burger_items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
}

.burger_item {
    display: flex;
    font-size: 40px;
    font-weight: lighter;
}

/* Main */

.main_section {
    position: relative;
    display: flex;
    align-items: center;
    top: -60px;
    min-height: 870px;
    overflow: hidden;
    background: url("images/banner_background.jpg") bottom/cover no-repeat;
}

.main_section_inner {
    display: flex;
    flex-direction: column;
    height: 550px;
}

.main_section.margin {
    margin-top: 60px;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_text_small {
    max-width: 750px;
    margin: 20px 0px 0px 0px;
}

.main_btn {
    margin-top: 20px;
}

.main_btn_inner {
    display: flex;
    border: 1px solid rgb(38, 39, 45, 0.1);
    border-radius: 25px;
    align-items: center;
    padding: 10px 35px;
    color: black;
}

.main_corn {
    border: 7px solid transparent;
    border-left: 11px solid black;
}

.main_btn_inner:hover {
    background: black;
    color: white;
    transform: translate(0px, -5px);
}

.main_btn_inner:hover .main_corn {
    border-left: 11px solid white;
}

.main_img {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.main_img_inner {
    display: flex;
    position: absolute;
    bottom: -320px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.55));
}

/* Benefits */

.benefits_inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefits_cart {
    flex: 376px 1;
    padding: 20px;
}

/* Breakline */

.breakline-inner {
    min-width: 100%;
    height: 1px;
    margin: 10px 0px;
    background: #f4f4f4;
    margin-top: 45px;
}

/* Protect block */

.protect_block_inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.protect_block_img {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    width: 50%;
}

.protect_block_content {
    display: flex;
    flex-direction: column;
    max-width: 585px;
    padding: 0px 20px;
}

.protect_block_btns {
    display: flex;
    justify-content: space-between;
    max-width: 345px;
    margin-top: 50px;
}

.protect_block_btn1, .protect_block_btn2 {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    align-items: center;
    margin-right: 10px;
}

.protect_block_btn1 {
    max-width: 200px;
    min-width: 145px;
    padding: 0px 15px;
    justify-content: space-between;
    background: #267df4;
    color: white;
    margin-left: 10px;
}

.protect_block_btn2 {
    max-width: 130px;
    border: 1px solid rgba(38, 39, 45, 0.1);
    justify-content: space-around;
}

/* Map block */

.map_block {
    overflow: hidden;
    padding: 0px 20px 20px 20px;
}

.map_block_inner {
    display: flex;
    min-height: 650px;
    align-items: center;
}

.map_block_img {
    max-width: 50%;
}

.map_block_partners_imgs {
    display: flex;
    justify-content: flex-start;
}

.map_block_partners_imgs>img {
    display: flex;
}

/* App screens */

.app_screens {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f8;
    padding: 50px 0px;
    overflow: hidden;
    text-align: center;
}

.app_screens_imgs {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.35));
}

.app_screens_imgs>img {
    padding: 0px 10px;
}

.app_screens_imgs>img:nth-child(4) {
    padding: 0px 10px 0px 6px;
}

.app_screens_breakline {
    width: 65px;
    height: 3px;
    background: #267df4;
    margin: 30px 0px;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form>h1 {
    margin: 0px 0px 50px 0px;
}

.form_input {
    display: flex;
    max-width: 500px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.form_input>input {
    padding: 10px 30px;
    border: none;
    background: none;
    margin: 0;
    outline: 0;
}

.form_input>input:nth-child(1) {
    width: 100%;
}

.form_input>input:nth-child(2) {
    color: white;
    border-radius: 50px;
    margin: 3px;
    cursor: pointer;
    width: 100%;
    max-width: 130px;
    background: #6fc754;
}

/* Footeer */
.footer {
    background: black;
    color: white;
    font-weight: 100;
}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 20px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    flex: 1 200px;
    margin-top: 20px;
    align-items: center;
}

.footer_item {
    margin: 10px 0px;
}

.footer_name {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 0px;
    padding: 50px 0px 20px 0px;
}

/* Media */

@media (max-width: 992px) {
    h1 {
        font-size: 55px;
    }
    /* Main */
    .main_text_large {
        width: 100%;
        max-width: 800px;
    }
    .main_text_small {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 52px;
    }
    p {
        font-size: 18px;
    }
    /* Nav */
    .hidden {
        display: none;
    }
    .nav_left {
        justify-content: unset;
    }
    .burger {
        display: unset;
    }
    /* Main */
    .main_section_inner {
        padding: 0px 20px;
        height: 700px;
    }
    .main_text_large {
        width: 100%;
        max-width: 500px;
    }
    .main_text_small {
        width: 100%;
        max-width: 500px;
    }
    /* Protect block */
    .protection_block {
        overflow: hidden;
    }
    .protect_block_inner {
        flex-direction: column;
    }
    .protect_block_content {
        margin-top: -50px;
    }
    .protect_block_img {
        min-width: 100%;
        height: 100%;
    }
    .protect_block_img_inner {
        width: 100%;
    }
    /* Map block */
    .map_block_inner {
        flex-direction: column-reverse;
        margin: 0px;
    }
    .map_block_inner {
        min-height: 700px;
    }
    .map_block_img {
        max-width: 100%;
    }
    .map_block_img>img {
        width: 100%;
    }
    /* App screens */
}

@media (max-width: 576px) {
    h1 {
        font-size: 42px;
    }
    /* Main */
    .main_section {
        min-height: 770px;
    }
    .main_section_inner {
        height: 650px;
    }
    .main_img_inner {
        width: 280px;
        bottom: -250px;
    }
    .app_screens_imgs>img {
        width: 180px;
    }
}
