body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    background: white;
    color: #26272d;
}

* {
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.fix_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fix_a {
    color: unset;
    text-decoration: none;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 62px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: #8c8f94;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.tran {
    transition: 0.3s linear;
}

/* Nav */

.header_fixed {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.nav {
    padding: 10px 0px;
}

.nav_inner_items {
    display: flex;
    height: 40px;
    color: #26272d;
}

.nav_left, .nav_right {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 290px;
}

.nav_item {
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav_logo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2px;
}

.nav_btn {
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    background: #267df4;
    color: white;
}

.nav_btn_icon {
    width: 16px;
    height: 20px;
    margin: 0px 10px 2px 25px;
}

/* Burger */

.burger {
    display: none;
    cursor: pointer;
}

.burger>span {
    display: block;
    background: #26272d;
    width: 25px;
    height: 2.5px;
    margin: 2.5px 0px 2.5px 10px;
    transition: .2s;
}

.burger.close>span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 5.25px;
    transition: .2s;
}

.burger.close>span:nth-child(2) {
    opacity: 0;
    transition: .0s;
}

.burger.close>span:last-child {
    transform: rotate(45deg);
    position: relative;
    top: -5.25px;
    transition: .2s;
}

/* Main */

.main_section {
    position: relative;
    display: flex;
    align-items: center;
    top: -60px;
    min-height: 870px;
    overflow: hidden;
    background: url(images/banner_background.jpg) bottom/cover no-repeat;
}

.main_section_inner {
    display: flex;
    flex-direction: column;
    height: 550px;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_text_small {
    max-width: 750px;
    margin: 20px 0px 0px 0px;
}

.main_btn {
    margin-top: 20px;
}

.main_btn_inner {
    display: flex;
    border: 1px solid rgb(38, 39, 45, 0.1);
    border-radius: 25px;
    align-items: center;
    padding: 10px 35px;
    color: black;
}

.main_corn {
    border: 7px solid transparent;
    border-left: 11px solid black;
}

.main_btn_inner:hover {
    background: black;
    color: white;
    transform: translate(0px, -5px);
}

.main_btn_inner:hover .main_corn {
    border-left: 11px solid white;
}

.main_img {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.main_img_inner {
    display: flex;
    position: absolute;
    bottom: -320px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.55));
}

/* BEN */

.ben-block-benefits {
    display: flex;
    justify-content: space-around;
}

.ben-block-benefits-cart {
    flex: 1;
    padding: 0px 20px;
}

.ben-block-benefits-cart-img>img {
    margin-bottom: 20px;
}

.ben-block-benefits-cart-header {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
}

.ben-block-benefits-cart-text {
    margin-bottom: 40px;
    font-size: 18px;
    color: #8c8f94;
    font-weight: normal;
    line-height: 1.5;
}

/* BREAKLINE */

.breakline-inner {
    min-width: 100%;
    height: 1px;
    margin: 10px 0px;
    background: #f4f4f4;
    margin-top: 45px;
}

/* PROTECT-BLOCK */

.protect-block-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 75px 0px;
}

.protect-block-img>img {
    width: 100%;
    z-index: -10;
}

.protect-block-content {
    flex: 1;
    margin: auto;
    width: 100%;
}

.protect-block-content-inner {
    margin-left: -400px;
    padding: 0px 30px;
}

.protect-block-img {
    flex: 1;
    position: relative;
    width: 100%;
    left: -400px;
}

.protect-block-header {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 70px;
}

.protect-block-text {
    margin-bottom: 70px;
    color: #8c8f94;
}

.protect-block-btns {
    display: flex;
    flex-direction: row;
}

.protect-block-btn1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #267df4;
    border-radius: 25px;
    margin-right: 10px;
    width: 100%;
    min-width: 178px;
    max-width: 250px;
    height: 50px;
    align-items: center;
    padding: 0px 25px;
    transition: .2s linear;
}

.protect-block-btn1-text {
    color: white;
}

.protect-block-btn2 {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-left: 10px;
    width: 100%;
    min-width: 133px;
    max-width: 170px;
    height: 50px;
    padding: 0px 20px;
    transition: .2s linear;
}

.protect-block-btn2-text {
    margin: auto;
}

.protect-block-btn1:hover, .protect-block-btn2:hover {
    transform: translate(0px, -3px);
    transition: .2s linear;
    opacity: .5;
}

/* MAP-BLOCK */

.map-block {
    overflow: hidden;
}

.map-block-inner {
    display: flex;
    flex-direction: row;
}

.map-block-content {
    flex: 1;
    padding: 0px 30px;
    margin: 30px 0px;
}

.map-block-img {
    position: relative;
    flex: 1;
    max-width: 500px;
}

.map-block-img>img {
    position: relative;
}

.map-block-header {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 70px;
}

.map-block-text {
    color: #8c8f94;
}

.map-block-partners-text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin: 30px 0px 15px 0px;
}

/* BEAUTIFUL-INTERFACE-BLOCK */

.bib {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f8;
    padding: 0px 0px 50px 0px;
}

.bib-imgs {
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.35));
}

.bib-imgs>img {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.bib-imgs>img:nth-child(4) {
    padding: 0px 10px 0px 6px;
}

.bib>h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin: 100px 0px 50px;
    text-align: center;
}

.bib-breakline {
    width: 65px;
    height: 3px;
    background: #267df4;
    margin-bottom: 30px;
}

.bib>h4, .form>h4, .bib-app-btn-text {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(58, 61, 75, 0.502);
}

.form {
    align-items: center;
    text-align: center;
}

.form-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.form-input>input {
    padding: 10px 30px;
    border: none;
    background: none;
    margin: 0;
    outline: 0;
    vertical-align: middle;
}

.form-input>input:nth-child(1) {
    max-width: 500px;
    width: 100%;
    padding-right: 0px;
}

.form-input>input:nth-child(2) {
    color: white;
    border-radius: 50px;
    margin: 3px;
    cursor: pointer;
    max-width: 130px;
    width: 100%;
    background: #6fc754;
    transition: .2s linear;
}

.form-input>input:nth-child(2):hover, .bib-app-btn-img:hover {
    transform: translate(0px, -3px);
    opacity: .5;
}

.form-input>img {
    width: 80px;
    height: 30px;
    background: #6fc754;
}

.bib-app-btn {
    text-align: center;
}

.bib-app-btn>a {
    cursor: auto;
}

.bib-app-btn-text {
    margin: 30px 0px 10px 0px;
}

.bib-app-btn-img {
    border-radius: 50px;
    cursor: pointer;
    transition: .2s linear;
}

/* MEDIA */

@media (max-width: 750px) {
    /* BENEFITS */
    .ben-block-benefits {
        flex-direction: column;
    }
    .ben-block-benefits-cart {
        width: 100%;
    }
    /* PROTECT-BLOCK */
    .breakline-inner {
        margin: 0px 0px 40px 0px;
    }
    .protect-block-inner {
        flex-direction: column;
        overflow: hidden;
        margin: 0px 0px 20px 0px;
    }
    .protect-block-content-inner {
        margin: 0px;
    }
    .protect-block-img {
        margin: 0 auto;
        z-index: 1;
        max-width: 400px;
        left: 0px;
    }
    .protect-block-header {
        position: relative;
        margin: 0px 0px;
    }
    .protect-block-text {
        margin-bottom: 20px;
        margin: 20px 0px 30px 0px;
    }
    .protect-block-btns {
        justify-content: center;
        justify-content: space-around;
        margin: 0px 0px;
        flex-wrap: wrap;
    }
    .protect-block-btn1 {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 0px;
        max-width: 100%;
    }
    .protect-block-btn1-text {
        width: 100%;
        text-align: center;
    }
    .protect-block-btn2-text {
        width: 100%;
        text-align: center;
    }
    .protect-block-btn2 {
        width: 30%;
        margin: 0px;
        max-width: 35%;
    }
    .protect-block-btn2-text {
        margin: 0;
    }
    /* MAP-BLOCK */
    .map-block-inner {
        flex-direction: column-reverse;
        margin: 0px;
    }
    .map-block-content {
        position: relative;
        z-index: 1;
    }
    .map-block-img {
        margin: 0px 0px -150px 0px;
    }
    .map-block-img>img {
        right: 0px;
    }
    .map-block-partners-imgs {
        display: flex;
        justify-content: center;
    }
    /* BEAUTIFUL-INTERFACE-BLOCK (.bib) */
    .bib-imgs {
        width: 100%;
    }
    .bib-imgs>img {
        width: 80%;
    }
    .form {
        padding: 0px 30px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 55px;
    }
    /* Main */
    .main_text_large {
        width: 100%;
        max-width: 800px;
    }
    .main_text_small {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 52px;
    }
    p {
        font-size: 16px;
    }
    /* Nav */
    .nav_hidden {
        display: none;
    }
    .burger {
        display: unset;
    }
    .nav_left {
        justify-content: unset;
    }
    /* Main */
    .main_section_inner {
        margin: 0px 10px;
        height: 700px;
    }
    .main_text_large {
        width: 100%;
        max-width: 500px;
    }
    .main_text_small {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 42px;
    }
    /* Main */
    .main_section {
        min-height: 770px;
    }
    .main_section_inner {
        height: 600px;
    }
    .main_img_inner {
        width: 280px;
        bottom: -250px;
    }
}
